body{
    /*background-color: #DCE3DF !important;
    zoom: 80%;*/
    background-color: #DCE3DF !important;
}

.login-form {
    width: 100%;
    max-width: 380px;
    /*padding: 15px;*/
    margin: auto;
    background: rgba(255,255,255,0.9);
    /*border-radius: 5px;*/
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    margin-top: 200px;
    background-color: white;
    /*background-image: url('../assets/img/fge.png');*/
    /*background-color: #152F4A;*/
}

.login-form button{
    background-color: white;
    border-radius: 100px;
}

.login-form input{
    background-color: white;
    border-radius: 100px;
}

.login-form .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.login-form .form-control:focus {
    z-index: 2;
}

.login-form input[type="text"] {
    margin-bottom: -1px;
    /*border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;*/
}

.login-form input[type="password"] {
    margin-bottom: 10px;
    /*border-top-left-radius: 0;
    border-top-right-radius: 0;*/
}

.login-form h1{
    font-family: LabradorA;
    font-size: 30pt;
    color: white;
    margin-top: 10px;
}

.notifyjs-corner{
    margin-top:  6% !important;
}

td{
    cursor: pointer;
}

tr{
    cursor: auto;
}

@font-face {
    font-family: LabradorA;
    font-weight: bold;
    src: url("../assets/fonts/LabradorA-ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: Galano;
    font-weight: bold;
    src: url("../assets/fonts/Galano_Grotesque_Medium.otf") format("opentype");
}

.title{
    background-color: #152F4A;
    color: white;
    padding: 15px;
    font-family: LabradorA;
    font-weight: lighter !important;
    text-align: center;
}

.user-logo{
    padding: 10px;
    border-radius: 50%;
    background-color: white;
}

#frame{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    margin-top: 70px;
}

.form-buttons{
    text-align: right;
}

/*Top bar*/
/* Add a black background color to the top navigation */
.framebar {
    font-family: LabradorA;
    background-color: #333;
    overflow: hidden;
    cursor: pointer;
}

/* Style the links inside the navigation bar */
.framebar div {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.framebar div:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.framebar div.active {
    /*background-color: #4CAF50;*/
    background-color: #4CAF8E;
    color: white;
}
/*___________*/

  /*Top bar*/
.topnav {
    z-index: 100000;
    position: fixed !important;
    top: 0px !important;
    width: 100%;

    font-family: LabradorA;
    background-color: #333;
    overflow: hidden;
    cursor: pointer;
}
  
.topnav div {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav div.home {
    background-color: #152F4A;
    color: white;
    border-right: solid;
}

.topnav div.session {
    color: white;
    float: right;
}

.topnav div.session:hover {
    background-color: #ddd;
    color: black;
}

#content{
    padding: 15px;
    border: lightgrey solid 1px;
}

.loader{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../assets/img/loader.svg') 50% 50% no-repeat rgb(62,62,62);
    opacity: .8;
}

.static-loader{
    color: red;
    font-size: 20pt;
}
/*
.search-form{
    background-color: white;
    padding: 50px;
    width: 40%;
    float: left;
    margin-left: 30%;
}
*/

.separator{
    background-color: #152F4A;
    width: 100%;
    height: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-form-body{
    padding: 15px;
    background-color: white;
}

.login-form-header{
    padding: 15px;
    /*background-color: #152F4A;*/
    background-color: #22313f;
}

.login-form-text{
    margin-top: 10px;
    color: white;
}

#menu ul li{
    border-top: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}

#menu ul li i, #menu ul li a{
    display: inline-block !important;
    font-size: 13pt !important;
}

#header{
    border-bottom: 0 !important;
}

#text-logo{
    font-weight: 900 !important;
    color: #C09F77;
    font-size: 22px;
}

#text-logo:hover{
    cursor: pointer;
}

#menu ul .selected{
    background-color: #353535;
    color: white;
    padding-left: 10px !important;
    font-size: 11pt !important;
}

#menu ul .selected a{
    font-size: 11pt !important;
}

#menu ul li a:hover{
    text-decoration-line: none;
}

#main .inner #header{
    text-align: center;
    text-transform: uppercase;
}


#wrapper #main #navbar{
    display: flow-root;
	background: linear-gradient(to right, #C09F77 10%, #152F4A);
}

#wrapper #main header img{
    width: 70px;
    padding: 10px;
    float: right;
}

#wrapper #main header .username-section{
    float: right; 
    padding: 5px; 
    color: white; 
    font-family: Galano;
}

#wrapper #main header .username-section #role{
    font-size: 10pt;
}

#wrapper #main .background-header{
    background-color: #152F4A;
	height: 150px;
}

#wrapper #main .background-header h1{
    color: white;
    padding: 35px;
}

#wrapper #main .inner{
    margin-top: -50px;
}

#wrapper #main .inner section{
    border-radius: 8px;
}

.form-buttons .btn-outline-success{
    background-color: #0C9;
    color: #FFF;
    border-color: #0C9;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.form-buttons .btn-outline-primary{
    background-color: rgb(0, 139, 204);
    color: #FFF;
    border-color: rgb(0, 139, 204);
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.form-buttons .btn-outline-success:hover{
    background-color: white;
    color: #0C9;
    border-color: #0C9;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.form-buttons .btn-outline-primary:hover{
    background-color: white;
    color: rgb(0, 139, 204);
    border-color: rgb(0, 139, 204);
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.rounded-button{
    border-radius: 50px !important;
    height:38px; 
    width: 150px;
}

.form-row div label{
    margin-left: 10px;
}

.static-loader{
    color: red;
    font-size: 20pt;
}

.form-top-Buttons .left-button{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.form-top-Buttons .right-button{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.loader{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../assets/img/loader.svg') 50% 50% no-repeat rgb(62,62,62);
    opacity: .8;
}

.table-loader{
    position: fixed;
    width: 15%;
    height: 20%;
    background: url('../assets/img/spikes_loader.svg') no-repeat;
    opacity: .8;
}

.table-loader-container{
    display: flex;
    justify-content: center;
}

.table-records-header-text{
    font-size: 26pt;
    font-weight: bold;
    font-family: LabradorA !important;
    color: #152F4A;
}

.table .bold-text{
    font-weight: bold;
}

.table .center-text{
    text-align: center;
}